<div eid="user_id_block">
    <% if(get("edit_id")){ %>
        <input name="user_id" type="text" value="<%= get("id") %>" />
    <% }else{ %>
        <%= get("id") %>
    <% } %>
</div>
<div eid="user_name_block">
    <% if(get("edit_name")){ %>
        <input name="user_name" type="text" value="<%= get("name") %>" />
    <% }else{ %>
        <%= get("name") %>
    <% } %>
</div>
<div>
    <span eid="reset_button">Reset</span>
</div>

